[alias]
  st = status -s
  ci = commit
  co = checkout
  fo = fetch origin
  ci = commit
  br = branch
  unstage = reset HEAD --
  last = log -1 HEAD
  l = log --pretty=oneline -n 20 --graph --abbrev-commit
  lol = log --graph --abbrev-commit --decorate --date=relative --format=format:\"%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim red)- %an%C(reset)%C(bold yellow)%d%C(reset)\" --all
  loa = log --graph --abbrev-commit --decorate --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n\"\"          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)\" --all
  lg = !"git lg1"
  logall = log --pretty=format:\"%an %ae %ad %ar %cn %ce %cd %cr %s\"
[color]
  ui = true
