! Display all options on screen
!urxvt --help 2>&1| sed -n '/:  /s/^ */! URxvt*/gp'!

! transparent
!URxvt.transparent: True
!URxvt.shading: 50

! Border
!URxvt.internalBorder: 0
!URxvt.externalBorder: 0
!URxvt.backgroundPixmap: /usr/share/backgrounds/images/default.png;style=root-tiled

! 
URxvt.mouseWheelScrollPage: 1
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 1
URxvt.secondaryWheel: 1

! display scroll bar
URxvt.scrollBar: True
! scroll bar right hand side
URxvt.scrollBar_right: True
! save number of lines in scroll back buffer
URxvt.saveLines: 10000

! do not scroll with output
URxvt.scroolTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
! URxvt*scrollWithBuffer: true
! ! scroll back to the bottom on keypress
! URxvt*scrollTtyKeypress: true

URxvt.cursorBlink: True


!Black
URxvt.color0:   #000000
!Red
URxvt.color1:   #A80000
!Green
URxvt.color2:   #00A800
!Yellow
URxvt.color3:   Yellow
!Blue
URxvt.color4:   #0000A8
!Magenta
URxvt.color5:   #A800A8
!Cyan
URxvt.color6:   #00A8A8
!White
URxvt.color7:   #A8A8A8

!Bright Black
URxvt.color8:   #000054
!Bright Red
URxvt.color9:   #FF0054
!Bright Green
URxvt.color10:  #00FF54
!Bright Yellow
URxvt.color11:  #FFFF54
!Bright Blue
URxvt.color12:  #0078FF
!Bright Magenta
URxvt.color13:  #FF00FF
!Bright Cyan
URxvt.color14:  #00FFFF
!Bright White
URxvt.color15:  #FFFFFF

URxvt.colorIT: Red
URxvt.colorBD: Green
URxvt.colorUL: Yellow
!!!URxvt.cursorColor:  #dc74d1
!!!URxvt.pointerColor: #dc74d1
!!!URxvt.background:   #0e0e0e
!!!URxvt.foreground:   #4ad5e1
!!!URxvt.color0:       #000000
!!!URxvt.color8:       #8b8f93
!!!URxvt.color1:       #dc74d1
!!!URxvt.color9:       #dc74d1
!!!URxvt.color2:       #0eb8c7
!!!URxvt.color10:      #0eb8c7
!!!URxvt.color3:       #dfe37e
!!!URxvt.color11:      #dfe37e
!!!URxvt.color5:       #9e88f0
!!!URxvt.color13:      #9e88f0
!!!URxvt.color6:       #73f7ff
!!!URxvt.color14:      #73f7ff
!!!URxvt.color7:       #e1dddd
!!!URxvt.color15:      #e1dddd
!fonts
URxvt.cursorColor: #00FF00
URxvt.foreground: #FFFFFF
URxvt.background: #000000
URxvt.boldFont:
URxvt.italicFont:
URxvt.boldItalicFont:
URxvt.highlightColor: #BBBBBB
URxvt.highlightTextColor: #000000
URxvt.perl-ext:
URxvt.perl-ext-common:
!URxvt*.font: xft:Monaco:pixelsize=10:antialias=off
