/a.vim
/ctrlp.vim
/DoxygenToolkit.vim
/vim-airline
/vim-airline-themes
/vim-arpeggio
/vim-autoclose
/vim-colorschemes
/vim-colors-solarized
/vim-dirdiff
/vim-dispatch
/vim-fugitive
/vim-surround
/vim-tmux-navigator
/vtreeexplorer
/YouCompleteMe
